In [1]:
%matplotlib inline
import sys
sys.path.insert(0,"../common_python")
from common_python.tellurium.model_runner import ModelRunner

In [2]:
model_str1 = """
     A -> B; k1*A
     B-> C; k2*B
      
     A = 50; 
     B = 0;
     C = 0;
     k1 = 0.15
     k2 = 0.2
"""
model_str2 = """
     A -> B+C; k1*A
      
     A = 50; 
     B = 0;
     C = 0;
     k1 = 0.15
"""
model_str3 = """
     A -> B; k3*A
     A-> C; k4*A
      
     A = 50; 
     B = 0;
     C = 0;
     k3 = 0.2
     k4 = 0.02
"""

simulation_time = 30
num_points = 5

In [3]:
print(model_str1)
runner = ModelRunner(model_str1, ['k1', 'k2'],
                    simulation_time, num_points)
runner.fit(count=10, method='differential_evolution')

     A -> B; k1*A
     B-> C; k2*B

     A = 50;
     B = 0;
     C = 0;
     k1 = 0.15
     k2 = 0.2

        mean       std
k1  0.158127  0.006296
k2  0.199226  0.005744

In [4]:
print(model_str2)
runner = ModelRunner(model_str2, ['k1'],
                    simulation_time, num_points)
runner.fit(count=10)

     A -> B+C; k1*A

     A = 50;
     B = 0;
     C = 0;
     k1 = 0.15

        mean      std
k1  0.231059  0.03769

In [5]:
print(model_str3)
runner = ModelRunner(model_str3, ['k3', 'k4'],
                    simulation_time, simulation_time)
runner.fit(count=5, method="differential_evolution")

     A -> B; k3*A
     A-> C; k4*A

     A = 50;
     B = 0;
     C = 0;
     k3 = 0.2
     k4 = 0.02

        mean       std
k3  2.622367  3.521562
k4  0.429621  0.594360

In [6]:
print(model_str3)
runner = ModelRunner(model_str3, ['k3', 'k4'],
                    simulation_time, simulation_time, noise_std=1.0)
runner.fit(count=5, method="differential_evolution")

     A -> B; k3*A
     A-> C; k4*A

     A = 50;
     B = 0;
     C = 0;
     k3 = 0.2
     k4 = 0.02

        mean       std
k3  0.360333  0.365865
k4  0.046298  0.058917

In [7]:
runner.df_observation

            A          B         C
0   49.156862   0.000000  0.000000
1   39.300874   9.283270  0.977686
2   31.002121  16.919939  1.094651
3   27.162417  21.810124  1.945739
4   19.494005  26.748659  3.103218
5   16.428168  31.209943  3.195654
6   14.721342  32.297162  4.230262
7   12.475560  38.486477  5.245447
8    8.600034  36.811637  4.501587
9    6.592646  37.952583  4.900205
10   5.024475  41.368536  6.307036
11   3.436547  39.798941  4.830172
12   4.543106  41.655104  1.642059
13   1.298271  42.747225  4.865615
14   3.181553  43.525120  3.361014
15   1.314889  41.956843  3.715151
16   2.780489  45.054957  5.037799
17   1.860946  43.720210  4.830817
18   0.524823  45.287952  4.630322
19   1.051105  44.688825  3.634974
20   0.680584  43.964218  4.942192
21   0.963096  44.972359  3.530827
22   1.502527  45.547012  4.300940
23   0.213909  45.413873  4.394933
24   0.407926  45.088852  5.644271
25   0.633569  44.970654  8.047546
26   0.141515  44.867163  4.206894
27   0.227929  45.787957  5.674792
28   0.051110  46.085910  2.393657
29   0.000000  45.326636  5.026531

In [8]:
runner.ser_time

0      0.000000
1      1.034483
2      2.068966
3      3.103448
4      4.137931
5      5.172414
6      6.206897
7      7.241379
8      8.275862
9      9.310345
10    10.344828
11    11.379310
12    12.413793
13    13.448276
14    14.482759
15    15.517241
16    16.551724
17    17.586207
18    18.620690
19    19.655172
20    20.689655
21    21.724138
22    22.758621
23    23.793103
24    24.827586
25    25.862069
26    26.896552
27    27.931034
28    28.965517
29    30.000000
Name: time, dtype: float64